[phases.setup]
nixPkgs = ["nodejs_22", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate", "npx prisma migrate deploy", "npx prisma db seed", "npm run build"]

[start]
cmd = "npm start"
